body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.none-2{
    display: none;
}

.head{
    display: flex;
    background-color:#f582ae;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0PX;
    z-index: 10;
    border-bottom: 1px #404040 solid;
    
}

.header-name-2{
    display: flex;
    margin-right: 70px;
    cursor: pointer;
    
}

.header-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 30px;
    width: fit-content; 
    height: fit-content;  
    margin-top: 9px;
    
   
}

.book{
    color:#001858;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.book2{
    margin-top: 0px;
    font-weight: bold;
    font-size: 25px;
    color: #001858;
    font-family: Kalam;
}



.contact-text{
    color: #001858;
    margin-left: 30px;
    font-weight: bold;
}

.bg-img-parent-card{
    width: 100%;
    height: 400px;
    background-color: #fbd0e0;
    position: absolute;
    top: 70px;
}

.background-img-header{
    width: 90%;
    height: 90%;
   
    background-size: cover;
    display: block;
    margin:5px auto;
    
    border-radius: 5px;
   
   }

.background-img{
 width: 220px;
 height: 200px;

 
 display: block;
 margin:5px auto;
 border-radius: 5px;

}

.trend-parent-card{
    font-weight: bold;
    margin-top: 500PX;
    font-family: "Concert One", sans-serif;
    font-size: 25px;
  
}

.text{
    text-align: center;
    margin-bottom: 18px;
    color: #001858;
}

.complementry-text{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color: #172c66;
}

.complementry-text-2{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color: #172c66;
}

.books-card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.books{
    width: 230px;
    height: 320px;
    border: solid;

    margin: 30px;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 5px;

   
}
.books:hover{
    box-shadow: 0px 0px 10px 4px gray; 
    transition: 0.2s;
}


.service-card-text{

    text-align: center;
    margin-top: 0px;
  
    font-size: 15px;
    font-family: cursive;
    background-color: white;
  
    border-radius: 0px 0px 4px 4px;
    
    cursor: pointer;
      
}
.btn{
    margin-left: 70px;
    margin-top: 0px;
}
.btn:hover{
    color: black;
    background-color: #ff661a;
    font-family: cursive;
    border-radius: 8px;

}

footer{
    height: 250px;
    width: 100%;
    background-color: #f7a1c1;
}

.footer-text{
    color: #001858;
    text-align: center;
    position: relative;
    top: 20%;
}

.logo-img{
    
    width: 180px;
    cursor: pointer;
}

/* mobile device */
@media screen and (max-width:500px)

{
    .header-name-2{
        display: flex;
        margin-right: 50px;
        cursor: pointer;
        
    }

    .header-name{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 30px;
        width: fit-content; 
        height: fit-content;  
        margin-top: 9px;
         
    }

    .text{
        text-align: center;
        margin-bottom: 18px;
        font-size: 35px;
    }

    .none-1{
        display: none;
    }

    .books-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}


/* tablet devices */
@media screen and (min-width:501px) and (max-width:992px)

{
    .header-name-2{
        display: flex;
        margin-right: 60px;
        cursor: pointer;
        
    }

    .header-name{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 70px;
        margin-right: 30px;
        width: fit-content; 
        height: fit-content;  
        margin-top: 9px;
         
    }

    .text{
        text-align: center;
        margin-bottom: 18px;
        font-size: 40px;
    }

    .none-1{
        display: none;
    }

    .books-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}






